//breadcrumb
.breadcrumb {
    background-color: transparent;
    margin-top: 1rem;
    li {
        font-size: 1rem;
        color: $color-fontgray;
        a {
        font-size: 1rem;  
            color: $color-darkGray;
        }
    }
}
.product-navigation {
     text-align: center;
        a {
        &:nth-child(1) {
          background: transparent url('../img/left-arrow.png') no-repeat center 0;width: 12px;height: 24px;
          text-indent: 360px;
          overflow: hidden;
          display: inline-block;
          margin-top: -35px;
          margin-right: 15px;
          &:hover, &:focus {
            background: transparent url('../img/left-arrow.png') no-repeat center 100%;
          }
        }
        &:nth-child(2) {
          background: transparent url('../img/product-menu.png') no-repeat 0 0;width: 42px;height: 42px;
          text-indent: -999px;
          overflow: hidden;
          display: inline-block;
          &:hover, &:focus {
              background: transparent url('../img/product-menu.png') no-repeat center 100%;
            }
        }
        &:nth-child(3) {
          background: transparent url('../img/right-arrow.png') no-repeat center 0;width: 12px;height: 24px;
          text-indent: 360px;
          overflow: hidden;
          display: inline-block;
          margin-top: -35px;
          margin-left: 15px;
          &:hover, &:focus {
              background: transparent url('../img/right-arrow.png') no-repeat center 100%;
            }
        }

    }
}

//content

.product-prices {
    width:100%;
    display: inline-block;
    .price-amount {
      font-size: 2.000rem;
      font-weight: 600;
      color:$color-darkGray;
      display: inline-block;
      float: left;
      margin-top: -3px;
      margin-left: 0px;
    }
    .current-price h3 {
            display:inline-block;
            color:$color-gray;
            float:left;
            margin-top:.6rem;
            font-size:1.313em;
            font-weight: 700;
            margin-right:.5rem;
            margin-left:.5rem;
          }

}


//accordion

#accordion {
        margin: 3rem 0;
    p {color: $color-darkGray;margin-bottom: 0;padding-bottom: 0;}

  .panel-group {
    .panel-heading {
      margin-bottom:1.5rem;
    }
    .accordion-toggle {
      color: $color-gray;
      font-size: 1rem;
      font-weight: 600;
      &::before {
        width: 50%;
        background-color: $color-gray;
        height: 1px;
        content: '';
        display: flex;
        margin: 1.5rem 0 1rem;
      }
      &.collapsed {
        color: $color-gray;
        &:hover {
          color: $color-gray;
        }
        &::before {
          width: 50%;
          background-color: $color-gray;
          height: 1px;
          content: '';
          display: flex;
          margin: 1.5rem 0 1rem;
        }
      }
    }
    }
.panel-heading .accordion-toggle.collapsed:after { 
    /* symbol for "opening" panels */
    font-weight: 600;
    content: "+";    /* adjust as needed, taken from bootstrap.css */
    color: $color-fontgray;         /* adjust as needed */
    font-family: $sec-font-family;
    margin-left: 1rem;
}
.panel-heading .accordion-toggle:after {
    /* symbol for "collapsed" panels */
    content: "-";    /* adjust as needed, taken from bootstrap.css */
    color: $color-fontgray;
    font-family: $sec-font-family;
    margin-left: 1rem;
    
}
}
    


.count-input {
  position: relative;
  width: 100%;
  max-width: 165px;
  margin: 10px 0;
}
.count-input input {
  width: 100%;
  height: 36.92307692px;
  border: 1px solid #d7d7d7;
  background: none;
  text-align: center;
  height: 47px;
}
.count-input input:focus {
  outline: none;
}
.count-input .incr-btn {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  line-height: 30px;
  top: 50%;
  right: 0;
  margin-top: -15px;
  text-decoration:none;
}
.count-input .incr-btn:first-child {
  right: auto;
  left: 0;
  top: 46%;
}
.count-input.count-input-sm {
  max-width: 125px;
}
.count-input.count-input-sm input {
  height: 36px;
}
.count-input.count-input-lg {
  max-width: 200px;
}
.count-input.count-input-lg input {
  height: 70px;
  border-radius: 3px;
}
.add-to-cart {
    box-shadow: none;
    background-color: $base-color;
    border-radius: 0;
    box-shadow: none;
    font-size: 0.938rem;
    text-transform: uppercase;
    line-height: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding: .5rem 1.5rem;
    margin: 2.5rem 1rem;
    border: 0;
    &::after {
    content: '';
    display: inline-block;
    background: url(../img/cat-product.png) center center no-repeat;
    width: 13px;
    height: 19px;
    float: right;    
    margin-top: 5px;
    margin-left: 10px;
    }
    &:hover {
        background-color: $color-darkGray;
    }
}

#accordion .panel-heading .accordion-toggle:before  {
        width: 50%;
    background-color: #bababa;
    height: 1px;
    content: '';
    display: flex;
    margin: 1.5rem 0 .6rem;
}
.product-navigation {
    margin-bottom:50px
}